@font-face {
    font-family: "Dahlia Medium";
    src: url("../fonts/dahlia-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/Mona-Sans-Medium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
